debian/questx-icon-theme*
icons/QuestX-Blue.tar.xz
icons/QuestX-Blue/icon-theme.cache
icons/QuestX-Green.tar.xz
icons/QuestX-Green/icon-theme.cache
icons/QuestX-Orange.tar.xz
icons/QuestX-Orange/icon-theme.cache
icons/QuestX-Purple.tar.xz
icons/QuestX-Purple/icon-theme.cache
icons/QuestX-Red.tar.xz
icons/QuestX-Red/icon-theme.cache
icons/QuestX-Teal.tar.xz
icons/QuestX-Teal/icon-theme.cache
